/*
 * Put project specific base styles here.
 *
 * Note: The project does not load this file.
 *       You will need to load these using scripts.js.
 *
 *
 */
 .footer-wrapper {
  margin: revert !important;
  max-width: revert !important;
 }

 .footer-info.has-region.has-privacy {
  justify-content: flex-start !important;
  flex-wrap: wrap;
 }

 .footer-region svg.icon-chevron-down {
  display: none;
 }

 .footer-wrapper > a, .footer-region-text, .footer-privacy {
  font-size: 12px !important;
 }

 .footer-region-button {
  min-width: revert !important;
 }

 .footer-info-column:last-child {
  flex-grow: 1;
 }

 .footer-privacy-link.footer-left-link:not(:last-child)::after {
  content: '';
 }

 .footer-privacy {
  align-items: center;
  justify-content: flex-start !important;
 }

 @media (min-width: 900px) {
  .footer-privacy:last-child {
    align-items: center;
    justify-content: end !important;
   }
 }

 .footer-privacy-copyright {
  margin: revert !important;
 }

.footer-region {
  margin-right: revert !important;
}

body.artisthub header .gnav .gnav-brand-title {
  color: #000;
}

body.artisthub main .section > .content {
  padding: 32px 0;
}

body.artisthub main .button-container.page-feed-load-more {
  margin: 24px auto 0;
  display: block;
  width: max-content;
}

body.artisthub main .button-container.page-feed-load-more .button {
  color: var(--color-transparent-button-border);
  border-color: var(--color-transparent-button-border);
  background-color: var(--color-transparent-button-bg);
  margin: 0 0 12px;
  font-style: normal;
  font-weight: 600;
  line-height: var(--body-line-height);
  cursor: pointer;
  transition: background-color .3s, color .3s, border .3s;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  border-radius: 40px;
  padding: 4px 1.2em 5px;
  text-align: center;
  font-size: var(--type-body-xs-size);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  min-width: 100px;
}


@media(min-width: 1000px) {
  body.artisthub main .section > .content {
    max-width: 700px;
  }
}
